node_modules
dist
.env
.DS_Store
.idea
.vscode
*.log
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp.js
.pnp.cjs
.cache
.next
out
build
tmp
temp
*.tsbuildinfo
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache

